# DS 230: Homework 2

### Due: 2/11/2022

You are encouraged to work on this with other students, but the final submitted document should be wholly your own.  That means no electronic sharing of files, code, or information.  Everything should be originally typed by *you*.

---

### Question 1

The folder `us_baby_names` contains 141 years of baby first names for the United States.  Names are recorded since the year 1880 that met the following criteria:

- Individuals with the name had a valid Social Security Number
- At least 5 individuals had the same name

For each name, the sex and count of names was recorded.  

Read in this data as a dictionary of lists, where each column is a separate list.  The data should be a single variable (a dictionary) with the following structure:

```python
names = { 
    "year" = [1880, 1880, ...],
    "name" = ["John", "Mary", ...],
    "sex"  = ["M", "F", ...],
    "count"= [232, 908, ...]
}
```

In [1]:
import csv
import glob
import os
import re
import pandas as pd

In [ ]:
os.chdir('names')

In [ ]:
files = os.listdir()

In [ ]:
my_Dol = {}
my_Dol["Year"]=[]
my_Dol["Name"]=[]
my_Dol["Sex"]=[]
my_Dol["Count"]=[]
for f in files:
    if f[-4:] == ".txt":
        #print(f)
        # DO SOMETHING
        fid = open(f,'r')
        my_csv = csv.reader(fid)
        for i in my_csv:
                my_Dol["Name"].append(i[0].strip(" '"))
                my_Dol["Sex"].append(i[1].strip(" '"))
                my_Dol["Count"].append(i[2].strip(" '"))
    else:
        print("This is garbage: ", f)

In [ ]:
my_Dol

In [7]:
def my_DoL_parser():
    my_Dol = {}
    counter = 0
    counter2= 0
    path = os.path.join(os.getcwd(),"names")
    path2=os.listdir(path)
    path2.remove('.ipynb_checkpoints')
    path2.remove('NationalReadMe.pdf')
    my_Dol["Year"]=[]
    my_Dol["Name"]=[]
    my_Dol["Sex"]=[]
    my_Dol["Count"]=[]
    for file in path2:
        my_Dol["Year"].append(file.strip("yob.txt"))
                   
        with open("names/"+file,'r') as people:
            my_csv = csv.reader(people)
            for i in my_csv:
                my_Dol["Name"].append(i[0].strip(" '"))
                my_Dol["Sex"].append(i[1].strip(" '"))
                my_Dol["Count"].append(i[2].strip(" '"))

          
           

                    
    return my_Dol

In [8]:
d=my_DoL_parser()

path = os.path.join(os.getcwd(),"names")
path2=os.listdir(path)
path2.remove('.ipynb_checkpoints')
path2.remove('NationalReadMe.pdf')

my_Dol = {}
counter = 0
counter2= 0
path = os.path.join(os.getcwd(),"names")
path2=os.listdir(path)
path2.remove('.ipynb_checkpoints')
path2.remove('NationalReadMe.pdf')
my_Dol["Year"]=[]
for file in path2:
        my_Dol["Year"].append(file.strip("yob.txt"))

### Question 2

Convert your dictionary of lists made above into a pandas data frame.

In [5]:
df=pd.DataFrame.from_dict(d,orient='index').transpose()

In [6]:
df

         Year     Name Sex  Count
0        2000    Emily   F  25957
1        2014   Hannah   F  23084
2        1938  Madison   F  19968
3        1910   Ashley   F  17997
4        1904    Sarah   F  17706
...       ...      ...  ..    ...
2020858  None   Zyheem   M      5
2020859  None    Zykel   M      5
2020860  None   Zyking   M      5
2020861  None      Zyn   M      5
2020862  None    Zyran   M      5

[2020863 rows x 4 columns]

### Question 3

Using the data frame made above, tell me "*somethhing interesting*" about this data set.  Your choice!

The names with 5 counts, does not have Years attached to the names !!!! ????

In [12]:
df["Sex"].value_counts()

F    1192115
M     828748
Name: Sex, dtype: int64

Wow there so many more women names than there are female names.